<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <MudGrid Justify="Justify.Center" MaxWidth="MaxWidth.ExtraSmall" Class="py-8">
                        <MudItem Class="d-flex align-center justify-center mud-width-full">
                            <MudStack>
                                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
                            </MudStack>
                        </MudItem>
                           <MudItem Class="d-flex align-center justify-center mud-width-full">
                            <MudStack>
                                <MudText>Authenticating previously logged in user</MudText>
                                <MudLink Href="/authentication/logout">Click here if you get an error</MudLink>
                            </MudStack>
                        </MudItem>
                    </MudGrid>
                </Authorizing>
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
